@page "/ownspots"

@using System.Net.Http
@using System.Text.Json
@using System.Net.Http.Json;
@using System
@using System.Threading.Tasks
@using Microsoft.Maui.Controls
@using Gatherama.Services;
@using Gatherama.Shared
@using MongoDB.Bson;
@inject ApiService apiService
@inject NavigationManager NavigationManager

@* Collaps Button*@
@* <p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Button with data-bs-target
    </button>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
    </div>
    <p></p>
</div> *@

@* Collaps Divit*@

<h4>Your own Gathering Spots</h4>

@if (findings != null)
{
    @foreach (var item in findings)
    {
        headingNbr++;
        collapsingNbr++;

        collabId += collapsingNbr;
        headingId += collapsingNbr;
        itemId += collapsingNbr;

        specie = species.FirstOrDefault(m => m.Id == item._idSpecies.Id);
        person = persons.FirstOrDefault(j => j.Id == item._idPerson.Id);
        place = places.FirstOrDefault(k => k.Id == item._idPlace.Id);

        <p></p>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">

                <h2 class="accordion-header" id="headingId">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#id-@collabId" aria-expanded="false" aria-controls="id-@collabId">
                        @item._idPlace.city.ToString(), @item._idPlace.country.ToString(), @item.datetime.ToString().Replace("0.00.00", "")
                    </button>
                </h2>

                <div id="id-@collabId" class="accordion-collapse collapse" aria-labelledby="headingId" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Gatherer:</strong>
                     @*    @item._idPerson.firstName.ToString() @item._idPerson.lastName.ToString()<br /> *@

                       <strong>Species Category:</strong>
                        @item._idSpecies.category.ToString()<br /> 

                        <strong>Species Subcategory:</strong>
                        @item._idSpecies.subCategory.ToString()<br />

                        <strong>Latin Name:</strong>
                        @item._idSpecies.latin_name.ToString()<br /> 

                        <strong>Name:</strong>
                        @item._idSpecies.s_name.ToString()<br />
                    
                       
                        <strong>Amount of Finding:</strong>
                        @item.amount.ToString()<br />

                        <strong>Memo log:</strong>
                        @item.memo<br />

                        @* <strong>Pictures?</strong>
                         @media.photo<br /> 
                            Tarvii GET koodit vielä tämä
                        

                        <strong>Map?</strong>
                        @place.lng + @place.lat<br /> *@
                        
                       
                    </div>
                </div>
            </div>
        </div>

        
    }
@* 

    <EditForm Model="newFinding" OnValidSubmit="@SubmitFinding">
        <DataAnnotationsValidator />
        <ValidationSummary/>
        <div class="col-lg-4 col-md-12">
        <strong>Username:</strong>
            <InputText id="personPosting" @bind-Value="@newFinding._idPerson.Id" class="form-control">"6515332fc07d1bda1e96c476"</InputText>
            <ValidationMessage For="@(() => newFinding._idPerson.Id)" />
        </div>

        <div class="col-lg-4 col-md-12">
            <label for="findingDate">Add a Date </label>
            <InputDate id="findingDate" @bind-Value="@newFinding.datetime" class="form-control"></InputDate>
            <ValidationMessage For="@(() => newFinding.datetime)" />
        </div>

        <div class="col-lg-4 col-md-12">
            <label for="findindAmount"> Amount </label>
            <InputText id="findindAmount" @bind-Value="@newFinding.amount"class="form-control"></InputText>
            <ValidationMessage For="@(() => newFinding.amount)" />
        </div>
        <div class="col-lg-4 col-md-12">
            <label for="findingMemo"> Memo </label>
            <InputText id="findingMemo" @bind-Value="@newFinding.memo" class="form-control">Enter memolog here</InputText>
            <ValidationMessage For="@(() => newFinding.memo)" />
        </div>

        <div class="col-lg-4 col-md-12">
            <label for="findindPrivate"> Private or not? </label>
            <InputRadioGroup id="findindPrivate" @bind-Value="@newFinding.Private" class="form-control">
                <br />
                <InputRadio id="0" Value="0" />Private <br />
                <InputRadio id="1" Value="1" />Public
            </InputRadioGroup>
            <ValidationMessage For="@(() => newFinding.Private)" />
        </div>

         <div class="col-lg-4 col-md-12">
            <label for="city"> City </label>
            <InputText id="city" @bind-Value="newFinding._idPlace.city" class="form-control">Enter the City name here</InputText>
            <ValidationMessage For="@(() => newFinding._idPlace.city)" />
        </div>
        <div class="col-lg-4 col-md-12">
            <label for="country"> country </label>
            <InputText id="country" @bind-Value="newFinding._idPlace.country" class="form-control">Enter the country name here</InputText>
            <ValidationMessage For="@(() => newFinding._idPlace.country)" />
        </div>
        <div class="col-lg-4 col-md-12">
            <label for="lat"> Latitude </label>
            <InputNumber id="lat" @bind-Value="newFinding._idPlace.lat" class="form-control">Enter latitude</InputNumber>
            <ValidationMessage For="@(() => newFinding._idPlace.lat)" />
        </div>
        <div class="col-lg-4 col-md-12">
            <label for="lng"> Longitude </label>
            <InputNumber id="lng" @bind-Value="newFinding._idPlace.lng" class="form-control">Enter longitude</InputNumber>
            <ValidationMessage For="@(() => newFinding._idPlace.lng)" />
        </div>

        <div class="col-lg-4 col-md-12">
            <label for="speciesCategory"> Species Category </label>
            <InputText id="speciesCategory" @bind-Value="newFinding._idSpecies.category" class="form-control">Enter the Category name here</InputText>
        </div>
        <div class="col-lg-4 col-md-12">
            <label for="speciesSubCategory"> Species Sub Category </label>
            <InputText id="speciesSubCategory" @bind-Value="newFinding._idSpecies.subCategory" class="form-control">Enter the Sub Category name here</InputText>
        </div>
        <div class="col-lg-4 col-md-12">
            <label for="s_name"> S_name </label>
            <InputText id="s_name" @bind-Value="newFinding._idSpecies.s_name" class="form-control">Enter the Familiar name name here</InputText>
        </div>
        <div class="col-lg-4 col-md-12">
            <label for="latin_name"> Latin name </label>
            <InputText id="latin_name" @bind-Value="newFinding._idSpecies.latin_name" class="form-control">Enter the Latin name here</InputText>
        </div>

        <button class="btn btn-primary" type="submit">Add a Finding!</button>
    </EditForm>  
 *@
   
}
else
{
    <p></p>
    <div class="d-flex justify-content-center">
        <div>Loading...</div>
        <div></div>
        <div class="spinner-border text-secondary" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
}

 
@code {
    private FindingDto newFinding = new FindingDto()
        {
            _idPlace = new PlaceDto { },
            _idSpecies = new SpeciesDto { },
            _idPerson = new PersonDto { }
    };

    private FindingDto postFinding = new FindingDto();

    public List<FindingDto> findings { get; private set; }
    public List<PersonDto> persons { get; private set; }
    public List<SpeciesDto> species { get; private set; }
    public List<PlaceDto> places { get; private set; }
    private SpeciesDto specie;
    private PersonDto person;
    private PlaceDto place;
    int collapsingNbr = 0;
    int headingNbr = 0;

    string collabId = "test";
    string headingId = "test";
    string itemId = "testi";

    protected override async Task OnInitializedAsync()
    {
        findings = await apiService.GetFindingsAsync();

        // It is not pretty but this is how I got it working the ID thingy
        newFinding._idPlace = new PlaceDto { Id = ObjectId.GenerateNewId().ToString() };
        newFinding._idSpecies = new SpeciesDto { Id = ObjectId.GenerateNewId().ToString() };
        newFinding._idPerson = new PersonDto { Id = ObjectId.GenerateNewId().ToString() };

        persons = await apiService.GetPersonsAsync();
        species = await apiService.GetSpeciesAsync();
        places = await apiService.GetPlacesAsync();

    }


    protected async void SubmitFinding()
    {
        await apiService.PostPlaceAsync(newFinding._idPlace);
        await apiService.PostSpeciesAsync(newFinding._idSpecies);
        await apiService.PostFindingAsync(newFinding);
        NavigationManager.NavigateTo("/ownspots", true);
    }

}