@page "/register"
@using Gatherama.ViewModels;
@using Gatherama.Services;
@inject ApiService apiService
@inject IJSRuntime js
@inject NavigationManager NavigationManager

<h3>Register</h3>

<EditForm Model="@person" OnValidSubmit="@Submit">
    <DataAnnotationsValidator />
    <div class="col-lg-4 col-md-12">
        <label class="form-label" for="FirstName">
            Firstname:
        </label>
        <InputText id="FirstName" class="form-control"  @bind-Value="@person.firstName" />
        <ValidationMessage For="@(() => person.firstName)" />
    </div>
    <div class="col-lg-4 col-md-12">
        <label class="form-label" for="LastName">
            Lastname:
        </label>
        <InputText id="LastName" class="form-control"  @bind-Value="@person.lastName" />
        <ValidationMessage For="@(() => person.lastName)" />
    </div>
    <div class="col-lg-4 col-md-12">
        <label class="form-label" for="UserName">
            Username:
        </label>
        <InputText id="UserName" class="form-control"  @bind-Value="@person.username" />
        <ValidationMessage For="@(() => person.username)"/>
    </div>
    <div class="col-lg-4 col-md-12">
        <label for="Email">
            Email:
        </label>
        <InputText id="Email" class="form-control" @bind-Value="@person.email"/>
        <ValidationMessage For="@(() => person.email)" />
    </div>

    <div class="col-lg-4 col-md-12">
        <label for="password">
            Password:
        </label>
        <InputText id="password" type="password" class="form-control" @bind-Value="@person.password"/>
        <ValidationMessage For="@(() => person.password)" />
    </div>
    <div class="col-lg-4 col-md-12">
        <label for="repeatPassword">
            Repeat password:
        </label>
        <InputText id="repeatPassword" type="password" class="form-control" @bind-Value="@repeatPassword"/>
        <ValidationMessage For="@(() => repeatPassword)" />
    </div>
    @*Dont know how to present succesfull registeration to user. Pop-up when you click ok it redirects you to index page?*@
    <button class="btn btn-primary" type="submit">Register</button>
</EditForm>
@code {
    private string repeatPassword;
    private PersonDto person = new PersonDto();

    protected async void Submit()
    {
        if(person.password != repeatPassword)
        {
            await js.InvokeVoidAsync("alert", "Password and Repeat password do not match");
        }
        else
        {
            await apiService.PostPersonAsync(person);
            NavigationManager.NavigateTo("/login", true); 
        }
        
    }
}
